.DS_Store

# Xcode
DerivedData/
build/
*.xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/

# Large datasets
data-preprocessing/data/Original Reddit Data/raw data/merged_all_data.csv
data-preprocessing/data/Original Reddit Data/raw data/merged_all_data.csv.zip
data-preprocessing/data/cleaned/merged_good_bad.csv


# Python venv
venv/
.venv/
__pycache__/
*.pyc

# Large datasets
"data-preprocessing/datasets/Original Reddit Data/raw data/merged_all_data.csv"
.env
**/.env
